In [26]:
import urllib.request
import numpy as np
import pandas as pd
from datetime import datetime,timedelta
width = 13
vstat = "http://amk030.imces.ru/meteodata/AMK_030_BIN/2019/10_2019/10010008.19B"
page = urllib.request.urlopen(vstat)
content = page.read()

In [72]:
data_dopolnitelniy = np.frombuffer(content[:17], dtype=np.dtype('i1'))
data_dopolnitelniy = np.frombuffer(data_dopolnitelniy[:16], dtype=np.dtype('i2'))
date_temp = data_dopolnitelniy[:-1]
date_time = datetime(*date_temp).strftime("%d.%m.%Y %H:%M:%S.%f")
numpy_data_polojitelnie = np.frombuffer(content, dtype=np.dtype('B'))[17:-14]
numpy_data_polojitelnie = numpy_data_polojitelnie.reshape(int(len(numpy_data_polojitelnie) / width), width)
numpy_data_polojitelnie  = np.delete(numpy_data_polojitelnie,12,1)
numpy_data_polojitelnie = np.frombuffer(numpy_data_polojitelnie, dtype=np.dtype('i2'))
numpy_data_polojitelnie = numpy_data_polojitelnie.reshape(int(len(numpy_data_polojitelnie)/6),6)
row = numpy_data_polojitelnie.shape[0]
column = numpy_data_polojitelnie.shape[1] + 1
zero = np.zeros((row,1))
numpy_data_polojitelnie = np.append(numpy_data_polojitelnie,zero,axis=1) 
data_frame1 = pd.DataFrame(numpy_data_polojitelnie)
data_frame1.head()

       0      1      2      3       4       5    6
0  233.0 -184.0 -126.0  115.0  7437.0  9343.0  0.0
1  242.0 -188.0 -122.0  102.0  7438.0  9344.0  0.0
2  232.0 -178.0 -103.0   81.0  7437.0  9343.0  0.0
3  237.0 -172.0 -105.0   71.0  7437.0  9344.0  0.0
4  237.0 -172.0 -101.0   58.0  7437.0  9344.0  0.0

In [73]:
for i in range(len(numpy_data_polojitelnie)):
#     numpy_data_polojitelnie[i,0] = numpy_data_polojitelnie[i,0] // 100
    numpy_data_polojitelnie[i,1] = numpy_data_polojitelnie[i,1] / 100
    numpy_data_polojitelnie[i,2] = numpy_data_polojitelnie[i,2] / 100
    numpy_data_polojitelnie[i,3] = numpy_data_polojitelnie[i,3] / 100
    numpy_data_polojitelnie[i,4] = numpy_data_polojitelnie[i,4] / 10
    numpy_data_polojitelnie[i,5] = numpy_data_polojitelnie[i,5] / 10
    numpy_data_polojitelnie[i,6] = numpy_data_polojitelnie[i,6] / 100

dft = pd.DataFrame((numpy_data_polojitelnie), columns=[
    'A','A','A','A','A','A','A'],index=pd.date_range(
    date_time, periods=len(numpy_data_polojitelnie), freq='12.5ms'))
dft.rename_axis("limbs", axis="columns")
dft.columns.name = 'date and time'
dft.head()

date and time                   A     A     A     A      A      A    A
2019-01-10 00:08:14.000343  233.0 -1.84 -1.26  1.15  743.7  934.3  0.0
2019-01-10 00:08:14.012843  242.0 -1.88 -1.22  1.02  743.8  934.4  0.0
2019-01-10 00:08:14.025343  232.0 -1.78 -1.03  0.81  743.7  934.3  0.0
2019-01-10 00:08:14.037843  237.0 -1.72 -1.05  0.71  743.7  934.4  0.0
2019-01-10 00:08:14.050343  237.0 -1.72 -1.01  0.58  743.7  934.4  0.0

In [76]:
from datetime import datetime
import pandas as pd
datelist = pd.date_range(date_time, periods=len(numpy_data_polojitelnie), freq='12.5ms').to_pydatetime()
# dt64 = [np.datetime64(x) for x in datelist] 
# dt64 = [int(dt64[x].item().strftime('%Y%m%d%H%M%S%f')) for x in range(len(dt64))]
pd.DataFrame({'Time': datelist, '0': numpy_data_polojitelnie[:,0], 'Temp': numpy_data_polojitelnie[:,1],
              '3': numpy_data_polojitelnie[:,2], '4': numpy_data_polojitelnie[:,3],
              '5': numpy_data_polojitelnie[:,4], '6': numpy_data_polojitelnie[:,5],
              '7': numpy_data_polojitelnie[:,6]})

                            Time      0  Temp     3     4      5      6    7
0     2019-01-10 00:08:14.000343  233.0 -1.84 -1.26  1.15  743.7  934.3  0.0
1     2019-01-10 00:08:14.012843  242.0 -1.88 -1.22  1.02  743.8  934.4  0.0
2     2019-01-10 00:08:14.025343  232.0 -1.78 -1.03  0.81  743.7  934.3  0.0
3     2019-01-10 00:08:14.037843  237.0 -1.72 -1.05  0.71  743.7  934.4  0.0
4     2019-01-10 00:08:14.050343  237.0 -1.72 -1.01  0.58  743.7  934.4  0.0
5     2019-01-10 00:08:14.062843  237.0 -1.64 -1.11  0.67  743.7  934.4  0.0
6     2019-01-10 00:08:14.075343  234.0 -1.68 -1.16  0.67  743.7  934.3  0.0
7     2019-01-10 00:08:14.087843  237.0 -1.75 -1.15  0.60  743.7  934.3  0.0
8     2019-01-10 00:08:14.100343  240.0 -1.71 -1.20  0.65  743.7  934.2  0.0
9     2019-01-10 00:08:14.112843  240.0 -1.79 -1.19  0.69  743.7  934.2  0.0
10    2019-01-10 00:08:14.125343  237.0 -1.73 -1.19  0.70  743.7  934.3  0.0
11    2019-01-10 00:08:14.137843  242.0 -1.75 -1.25  0.57  743.7  934.3  0.0
12    2019-01-10 00:08:14.150343  230.0 -1.84 -1.26  0.56  743.8  934.3  0.0
13    2019-01-10 00:08:14.162843  238.0 -1.85 -1.09  0.53  743.7  934.3  0.0
14    2019-01-10 00:08:14.175343  238.0 -1.88 -1.14  0.69  743.8  934.3  0.0
15    2019-01-10 00:08:14.187843  242.0 -1.84 -1.28  0.67  743.7  934.3  0.0
16    2019-01-10 00:08:14.200343  240.0 -1.75 -1.27  0.67  743.8  934.2  0.0
17    2019-01-10 00:08:14.212843  246.0 -1.68 -1.14  0.55  743.8  934.2  0.0
18    2019-01-10 00:08:14.225343  236.0 -1.77 -1.07  0.66  743.8  934.3  0.0
19    2019-01-10 00:08:14.237843  238.0 -1.78 -1.23  0.65  743.7  934.2  0.0
20    2019-01-10 00:08:14.250343  236.0 -1.63 -1.32  0.70  743.7  934.2  0.0
21    2019-01-10 00:08:14.262843  241.0 -1.68 -1.15  0.60  743.8  934.2  0.0
22    2019-01-10 00:08:14.275343  235.0 -1.71 -1.23  0.59  743.8  934.2  0.0
23    2019-01-10 00:08:14.287843  234.0 -1.72 -1.14  0.59  743.8  934.3  0.0
24    2019-01-10 00:08:14.300343  236.0 -1.73 -0.89  0.66  743.8  934.4  0.0
25    2019-01-10 00:08:14.312843  239.0 -1.74 -0.95  0.73  743.8  934.4  0.0
26    2019-01-10 00:08:14.325343  232.0 -1.81 -0.85  0.82  743.8  934.4  0.0
27    2019-01-10 00:08:14.337843  232.0 -1.86 -0.84  0.80  743.8  934.3  0.0
28    2019-01-10 00:08:14.350343  232.0 -1.61 -0.79  0.89  743.8  934.3  0.0
29    2019-01-10 00:08:14.362843  236.0 -1.50 -0.98  1.06  743.8  934.2  0.0
...                          ...    ...   ...   ...   ...    ...    ...  ...
50115 2019-01-10 00:18:40.437843  230.0 -3.00  1.61  0.73  744.3  948.6  0.0
50116 2019-01-10 00:18:40.450343  231.0 -2.95  1.45  0.92  744.3  948.6  0.0
50117 2019-01-10 00:18:40.462843  232.0 -2.97  1.41  1.08  744.3  948.5  0.0
50118 2019-01-10 00:18:40.475343  232.0 -2.91  1.43  1.09  744.3  948.6  0.0
50119 2019-01-10 00:18:40.487843  232.0 -2.94  1.50  1.17  744.3  948.6  0.0
50120 2019-01-10 00:18:40.500343  231.0 -2.97  1.48  1.15  744.3  948.4  0.0
50121 2019-01-10 00:18:40.512843  230.0 -2.92  1.43  1.20  744.3  948.4  0.0
50122 2019-01-10 00:18:40.525343  231.0 -2.99  1.33  1.32  744.3  948.4  0.0
50123 2019-01-10 00:18:40.537843  232.0 -3.15  1.40  1.14  744.3  948.4  0.0
50124 2019-01-10 00:18:40.550343  229.0 -3.15  1.46  0.93  744.3  948.4  0.0
50125 2019-01-10 00:18:40.562843  233.0 -3.26  1.35  0.79  744.3  948.1  0.0
50126 2019-01-10 00:18:40.575343  228.0 -3.35  1.39  0.85  744.3  948.2  0.0
50127 2019-01-10 00:18:40.587843  226.0 -3.33  1.32  0.88  744.3  948.2  0.0
50128 2019-01-10 00:18:40.600343  230.0 -3.35  1.18  0.99  744.3  948.2  0.0
50129 2019-01-10 00:18:40.612843  227.0 -3.13  1.13  1.28  744.3  948.2  0.0
50130 2019-01-10 00:18:40.625343  237.0 -3.32  1.11  1.26  744.3  948.2  0.0
50131 2019-01-10 00:18:40.637843  231.0 -3.24  1.22  1.20  744.3  948.2  0.0
50132 2019-01-10 00:18:40.650343  227.0 -3.24  1.27  1.08  744.3  948.2  0.0
50133 2019-01-10 00:18:40.662843  229.0 -3.23  1.31  0.88  744.3  948.2  0.0
50134 2019-01-10 00:18:40.675343  237.0 -3.32  1.46  0.77  744.3  948.2  0.0
50135 2019-01-10 00:18:40.687843  225.0 -3.36  1.31  0.68  744.3  948.2  0.0
50136 2019-01-10 00:18:40.700343  229.0 -3.45  1.35  0.66  744.3  948.3  0.0
50137 2019-01-10 00:18:40.712843  228.0 -3.52  1.41  0.66  744.3  948.2  0.0
50138 2019-01-10 00:18:40.725343  236.0 -3.40  1.52  0.67  744.3  948.3  0.0
50139 2019-01-10 00:18:40.737843  228.0 -3.36  1.28  0.74  744.3  948.3  0.0
50140 2019-01-10 00:18:40.750343  223.0 -3.35  1.22  0.78  744.3  948.3  0.0
50141 2019-01-10 00:18:40.762843  225.0 -3.36  1.29  0.60  744.3  948.3  0.0
50142 2019-01-10 00:18:40.775343  225.0 -3.25  1.34  0.63  744.4  948.3  0.0
50143 2019-01-10 00:18:40.787843  233.0 -3.22  1.36  0.43  744.3  948.4  0.0
50144 2019-01-10 00:18:40.800343  222.0 -3.17  1.28  0.50  744.3  948.5  0.0

[50145 rows x 8 columns]

In [ ]:
import pandas as pd
distance_array = []
for x in range(1,2):
    a=str(x) + ".csv"
    df = pd.read_csv(a, error_bad_lines=False, nrows=2)
    for index, row in df.iterrows():
        distance_array.append(x)
        print(index,row)
# print(sum(distance_array)/len(distance_array))